.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 1820px;
  margin-bottom: 24px;
  margin: 0 auto; 
  list-style: none;
  width: 100%;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.grid li {
  background-color: white;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

/* Tablet */
@media (max-width: 834px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 393px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
