.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0;
    padding: 32px;
    max-width: 1720px;
    margin: 0 auto;
    width: calc(100% - 32px);
    border-top: 0.5px solid black;
    border-left: 0.5px solid black;
  }
  
  @media (max-width: 834px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 393px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }