.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5px;
  padding: 0.5px;
  max-width: 1720px;
  margin: 0 auto;
  background-color: var(--foreground);
  list-style: none;
}

.grid li {
  background-color: var(--background);
  aspect-ratio: 1 / 1;
  display: flex;
  padding: 16px;
}

/* Tablet */
@media (max-width: 834px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 393px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
