.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background);
  padding: 16px;
  gap: 24px;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.image {
  object-fit: contain;
}

.brand {
  font-size: 10px;
  color: var(--secondary);
  text-transform: uppercase;
  margin: 0;
}

.name {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
}

.basePrice {
  font-size: 12px;
  margin: 0;
  text-align: right;
}

.infoWrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: auto;
}
