.page {
  margin-top: var(--header-height);
  padding: 12px 100px;
}
.totalWrapperMobile {
  display: none;
}
.cartWrapper {
  display: flex;
}
.mobileWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  width: 100%;
}
.footer {
  width: 100%;
  background: var(--background);
  display: flex;
  margin-top: auto;
}
.footerContent {
  width: 100%;

  max-width: 1720px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.leftFooter {
  display: flex;
}

.continueShopping {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 32px;
  text-align: center;
  height: 56px;
  width: 260px;
  border: 0.5px solid #1b1a18;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: 8%;
}
.rightFooter {
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: 24px;
}
.totalWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.totalLabel,
.totalAmount {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
}

.payWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 32px;
  height: 56px;
  text-transform: uppercase;
  width: 260px;
  background: var(--foreground);
  color: var(--background);
  border: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .page {
    padding: 12px;
  }
  .rightFooter {
    flex-direction: column;
  }
  .footerContent {
    flex-direction: column;
    align-items: flex-start;
  }
  .mobileWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 12px;
  }
  .rightFooter {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .leftFooter {
    width: 100%;
    margin-bottom: 12px;
  }

  .continueShopping,
  .payWrapper {
    width: 100%;
  }

  .totalWrapperMobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    text-transform: uppercase;
    gap: 8px;
  }
  .totalWrapper {
    display: none;
  }
}

@media (max-width: 934px) {
  .page {
    padding: 40px;
  }
  .rightFooter {
    gap: 12px;
  }
}
